{% extends parent_template|default:"wod/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="container w-20 p-3 bg-light">
<div class="h2">{{ wod.sched_date|date:"F jS, Y" }}</div>
  <dl class="row" >
    <dt class="col-sm-2">Gym:</dt>
    <dd class="col-sm-9">{{ wod.gym_link }}</dd>
    <dt class="col-sm-2">Coach:</dt>
    <dd class="col-sm-9">{{ wod.coach_link }}</dd>
    <dt class="col-sm-2">Origin:</dt>
    <dd class="col-sm-9">{{ wod.orig_url|urlize }}</dd>
  </dl>
<div class="card mb-2 bg-secondary text-white" style="width: 24rem;">
    <div class="card-body">
      <p class="card-text">{{ wod.workout|linebreaks }}</p>
        <a href="{% url 'wod_update' pk=wod.id %}" class="btn btn-warning">Add Tags</a>
        <a href="{% url 'wod_delete' pk=wod.id %}" class="btn btn-danger" >Delete</a>
    </div>
</div>
{% endblock %}
