{% extends parent_template|default:"wod/base.html" %}
{% load bootstrap_pagination %}

{% block title %}
  {{ block.super }} - Wods
{% endblock %}

{% block content %}
  <h2>Wod List</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Date Scheduled</th>
        <th>Coach</th>
      </tr>
    </thead>
        <tbody>
    {% for wod in wod_list %}
    <tr>
      <td>
        <a href="{{ wod.get_absolute_url }}">{{ wod.date}}</a>
      </td>
      <td>
          {{wod.coach}}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td><em>No Wods Available</em></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% bootstrap_paginate page_obj range=20 %}

{% endblock %}
